@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #090A0A;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: white;
    width: 100%;
}

header #container_ellie {
    display: none;
}

header #topbar {
    align-items: center;
    display: flex;
    padding: 10px;
    background-color: #090A0A;
}

header #bottombar {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 30px 0px 20px 0px;
}

#topbar a {
    color: #B2B2B2;
    font-size: 14px;
    font-weight: 700;
    margin: 0px 15px;
    height: 100%;
    text-align: center;
    text-decoration: none;
}

#bottombar a {
    color: #202125;
    font-size: 16px;
    font-weight: 700;
    margin: 0px 10px;
    padding: 5px;
    text-decoration: none;
}

#topbar a:hover {
    color: #2586D5;
}

#bottombar a:hover {
    color: #2586D5;
}

#background {
    background-image: url("imagens/background.png");
    background-position: center center;
    background-size: cover;
    height: 400px;
    position: relative;
    width: 100%;
}

#background #caixadeinf {
    background-color: #202125;
    color: white;
    max-height: 295px;
    max-width: 450px;
    padding: 25px;
    position: absolute;
    top: 60%;
    left: 5%;
}

#background h1 {
    line-height: 50px;
    font-size: 40px;
    font-weight: 300;
}

#background #sony {
    font-size: 14px;
    font-weight: 900;
    margin-top: 10px;
}

#background #din {
    font-size: 26px;
    font-weight: 400;
    margin-top: 45px;
}

#background #botao {
    align-items: center;
    background-color: #da4104;
    border-radius: 50px;
    display: flex;
    font-size: 16px;
    min-height: 45px;
    margin-top: 15px;
    max-width: 450px;
    justify-content: center;
}

#background #botao:hover {
    background-color: #A32E00;
}

#background p {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.4px;
}

.secao2 {
    margin: 250px 0px 100px 0px;
}

.secao2 .expansoes {
    align-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.secao2 .expansoes > div {
    color: white;
    max-width: 190px;
    margin: 0px 8px;
}

.secao2 img {
    border-radius: 10px;
    max-width: 100%;
}

.secao2 p {
    color: #B2B2B2;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

.secao2 h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 24px;
}

.secao2 .preco {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.secao2 img:hover {
    border: 2px solid #2586D5;
}

h2 {
    color: white;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 50px;
    text-align: center;
}

.secao3 {
    width: 100%;
}

.secao3 #container_do_article {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.secao3 article {
    background-color: #1E1F23;
    max-width: 710px;
    padding: 30px;
}

.secao3 p {
    color: #B2B2B2;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 22.4px;
}

.secao3 .psemmart {
    margin-top: 0px;
}

#minirodape {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
}

#minirodape > p {  
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 100px;
    margin-bottom: 100px;  
    line-height: 24px;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #00439C;
    width: 100%;
}

footer > .container_listas {
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 60px 0px 50px;
    width: 100%;
}

footer ul {
    list-style-type: none;
    margin: 20px 90px;
}

footer li {
    margin-bottom: 10px;
}

footer a {
    color: #ffff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

footer a:hover {
    color: #b3c7e1;
    font-size: 18px;
    text-decoration: underline;
}

footer > .containercopy {
    align-items: center;
    background-color: #00439C;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

footer > .containercopy > div > p {
    color: white;
    font-weight: 300;
    text-align: center;
}

@media (max-width: 1024px) {
    footer > .container_listas {
        flex-wrap: wrap;
    }
}

@media (max-width: 842px) {
    footer > .container_listas {
        align-content: flex-start;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    
    header {
        align-items: center;
        display: flex;
        background-color: #090A0A;
        max-height: 150px;
        justify-content: space-around;
        width: 100%;
    }

    header > #topbar > a:hover{
        color: #B2B2B2;
    }

    header strong {
        color: #da4104;
    }

    header strong:hover {
        color: #A32E00;
    }

    header #bottombar {
        display: none;
    }

    header #container_ellie {
        display: flex;
        height: 100%;
    }

    header #container_ellie > img {
        display: block;
        max-height: 150px;
        max-width: 200px;
    }

    header #topbar {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    header > #topbar > a {
        font-size: 13px;
        margin-bottom: 10px;
    }

    #background #caixadeinf {
        top: 80%;
    }

    .secao2 {
        margin: 320px 0px 100px 0px;
    }

    .secao2 h3 {
        font-size: 14px;
    }

    .secao3 h2 {
        padding: 0px 40px 0px 40px;        
    }

    .secao3 p {
        font-size: 14px;
    }

    #minirodape p {
        font-size: 14px;
    }

    footer > .containercopy {
        padding: 0px 20px 30px 20px;
    }
}

@media (max-width: 587px) {
    footer a {
        font-size: 14px;
    }

    footer a:hover {
        font-size: 15px;
    }
}

@media (max-width: 570px) {
    #background #caixadeinf {
        top: 80%;
        left: 0%;
    }

    #background h1 {
        font-size: 35px;
    }

    #background #sony {
        font-size: 11px;
    }

    #botao {
        min-width: 150px;
    }

    #background #din {
        font-size: 23px;
    }

    #botao p {
        font-size: 15px;
    }
    
    .secao3 h2 {
        font-size: 32px;
    }
}
