@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

header {
    background-color: #fff;
    padding-bottom: 10px;
}

#top-bar {
    background-color: #000;
    display: flex;
    justify-content: end;
    padding: 10px 5px;
}

#img-sony {
    height: 14px;
}

#logo-playstation {
    height: 35px;
}

#top-menu,
#bottom-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

#top-menu > a > button {
    background-color: #363636;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.4px;
    padding: 4px 7px;
}

#top-menu > a > button:hover {
    background-color: #606060;
}

#top-links {
    align-items: center;
    display: flex;
    justify-content: start;
    list-style-type: none;
    margin-bottom: 10px;
}


#top-links > li > a {
    font-size: 1.3rem;
    font-weight: bold;
    color: #757575;
    margin-right: 20px;
    text-decoration: none;
}

#top-links > li > a:hover {
    color: #147bd5;
}

#logo-game {
    height: 40px;
}

#bottom-links {
    display: flex;
    list-style-type: none;
}

#bottom-links > li > a {
    border-radius: 20px;
    color: #000;
    font-weight: 600;
    margin-right: 20px;
    padding: 5px;
    text-align: center;
    text-decoration: none; 
}

#bottom-links > li > a:hover {
    background-color: #e9e9e9;
    transition: 0.8s;
}

#bottom-bar > a > button {
    background-color: #d53b00;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    height: 50px;
    padding: 0px 14px;
}

#bottom-bar > a > button:hover {
    background-color: #A22D00;
}