@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

body {
    background-color: #040714;
    font-family: 'Open Sans', sans-serif;
}

/*SEÇÃO1*/

#secao1 {
    width: 100%;
    margin-bottom: 200px;
}

#secao1 > #img_destaque {
    align-items: center;
    background-image: url(imagens/sections/secao1/imgdest.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: auto;
}

#secao1 > #img_destaque > #container_caixainf {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
}

#secao1 #caixainf {
    align-items: center;
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

#secao1 > #img_destaque > #container_caixainf > #caixainf > #primeiro_p {
    color: #f9f9f9;
    font-size: 26px;
    font-weight: 600;
    line-height: 32.4px;
    margin-bottom: 20px;
    text-align: center;
}

#secao1 #img_destaque > #container_caixainf > #caixainf > img {
    margin-bottom: 20px;
    max-width: 380px;
}

#secao1 #img_destaque > #container_caixainf > #caixainf > #botao_secao1 {
    align-items: center;
    background-color: #0063e5;
    border-radius: 5px;
    display: flex;
    height: 60px;
    justify-content: center;
    margin-bottom: 10px;
    width: 99%;
}

#secao1 > #img_destaque > #container_caixainf > #caixainf > #botao_secao1:hover {
    background-color: #0483EE;
}

#secao1 > #img_destaque > #container_caixainf > #caixainf > #botao_secao1 > a {
    color: #f9f9f9;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-decoration: none;
}

#secao1 > #img_destaque > #container_caixainf > #caixainf > p {
    margin-bottom: 25px;
}

#secao1 > #img_destaque > #container_caixainf > #caixainfv > p > small {
    color: #c0c0c0;
    font-size: 12px;
    font-weight: 400;
}

#secao1 > #img_destaque > #container_caixainf > #caixainf > p {
    color: #c0c0c0;
    font-size: 17px;
    font-weight: 500;
    line-height: 26.4px;
    text-align: center;
}

#secao1 > #img_destaque > #container_caixainf > #caixainf > p > a {
    color: #f9f9f9;
    font-size: 17px;
    font-weight: 500;
}

/*MAIN > SEÇÃO: inf_da_assinatura1*/

main {
    width: 100%;
}

#inf_da_assinatura1 {

    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 200px;
    width: 100%;
}

main img {
    max-width: 600px;
}

main p { 
    color: #c0c0c0;
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    padding: 50px;
}

main button {
    border: #0063e5;
    background-color: #0063e5;
    border-radius: 5px;
    height: 60px;
    margin-top: 20px;
    max-width: 350px;
    padding: 10px;
}

main button:hover {
    background-color: #0483EE;
}

#inf_da_assinatura1 a {
    color: #f9f9f9;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-align: center;
    text-decoration: none;
}

/*MAIN > SEÇÃO: inf_da_assinatura2*/

main #inf_da_assinatura2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-bottom: 200px;
    width: 100%;
}

main .caixa_inf{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

main h2 {
    color: #f9f9f9;
    font-size: 40px;
    margin-bottom: 20px;
}

.caixa_inf > p {
    color: #c0c0c0;
    font-size: 20px;
    line-height: 30px;
    padding: 0px;
}

/*MAIN > SEÇÃO: inf_da_assinatura3*/

#inf_da_assinatura3 {
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

#h2dif {
    font-size: 42px;
    padding: 0px 0px 0px 30px;
}

#inf_da_assinatura3 > p {
    font-size: 20px;
    margin-bottom: 50px;
    padding: 0px 0px 0px 30px;
}

main .grade_imgs {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

main > #inf_da_assinatura3 > .grade_imgs > img {
    border-radius: 5px;
    margin: 0px 7px;
    max-width: 350px;
    margin-bottom: 13px;
}

/*MAIN > SEÇÃO: inf_da_assinatura4*/

#container {
    align-items: center;
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

main #inf_da_assinatura4 {
    align-items: center;
    background-image: url("imagens/sections/inf_da_assinatura4/reileao.png");
    background-position: left;
    background-size: cover;
    display: flex;
    height: 700px;
    justify-content: flex-end;
    width: 90%;
}

#container_bnt {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

button > a {
    color: #f9f9f9;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-align: center;
    text-decoration: none;
}

/*MAIN > #plataformas*/

main > #plataformas > h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

main > #plataformas > #lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    width: 100%;
}

main > #plataformas > #lista > ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0px 25px;
}

main > #plataformas > #lista > ul > img {
    margin-bottom: 25px;
    max-width: 300px;

}

main > #plataformas > #lista > ul > h2 {
    font-size: 28px;
    margin-bottom: 25px;   
}

main > #plataformas > #lista > ul > li {
    color: #c0c0c0;
    font-size: 17px;
    letter-spacing: 0.2px;
    margin-bottom: 7px;
}

/*footer*/

footer {
    padding: 120px 0px 100px 0px;
}

footer #container_img {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

footer img {
    max-width: 80px;
}

footer ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

footer a {
    color: #f9f9f9;
    font-size: 12px;
    font-weight: 300;
    margin: 0px 10px;
    text-decoration: none;
}

footer #container_p {
    color: #c0c0c0;
    font-size: 12px;
    margin: 30px 0px;
    text-align: center;
}

footer #container_p2 {
    color: #c0c0c0;
    font-size: 12px;
    text-align: center;
}

/*RESPONSIVIDADE*/
